.intro__list-item {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  font-family: 'Inter', Verdana, sans-serif;
}

.intro__list-item > .intro__accent-text {
  font-weight: 700;
}
