.lead__subtitle {
  font-family: 'Inter', Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  text-align: center;
  margin: 0 auto 40px;
  max-width: 320px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    max-width: 640px;
  }
}

